.btn {
    display: flex;
    background-color: #fff;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px 75px;
    font-size: 20px;
    cursor: pointer;
    margin: 0 auto;
}

.btn:hover {
    background-color: rgb(23, 121, 173);
    color: #fff;
}